
body {
 padding: 0;
 margin: 0;
 background-color: #666;
 height: 100vh;

}
/* #s{padding: 0;} */
#sum{
    color:white;
    font-size: 50px;
    padding: 8px;
    float: left;
}

.container {
    width: 420px;
    margin: 0 auto;

}
.container h1 {
    color:white;
    text-align: center; 
    font-size: 100px;
    /* padding: .2em 0 0 0; */
    margin: 0;
    margin-bottom: -35px;
}
#red {
    left:15px;
    top:15px;
    background:rgb(255,0,0);
    border-radius:320px 20px 20px;
    
}
#green {
    right:15px;
    top:15px;
    background:rgb(0,255,0);
    border-radius:20px 320px 20px 20px;
}
#yellow {
    bottom:15px;
    right:15px;
    background:rgb(255,255,0);
    border-radius:20px 20px 320px 20px;
}
#blue {
    bottom:15px;
    left:15px;
    background:rgb(0,0,255);
    border-radius:20px 20px 20px 320px;
}
.simon {
    position:relative;
    border-radius:50%;
    width:440px;
    height:440px;
    background:#000;
    background:rgb(0,0,0);
    cursor: pointer;
        margin: 10px;

   
}
.simon::before {
    content:' ';
    left:50%;
    top:50%;
    border-radius:85px;
    position:absolute;
     width:170px;
    height:170px;
    background:#000;
    z-index:99;
    margin:-85px;
}
.simon .display {
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    line-height: 180%;
    position:absolute;
    background:rgb(255,255,255);
    width:130px;
    padding-top:40px;
    height:130px;
    border-radius:60px;
    left:50%;
    top:50%;
    text-align:center;
    z-index:100;
    margin:-65px;
}
.pad {
    position:absolute;
    width:200px;
    height:200px;
    background:rgba(20,20,20,1);
    opacity:0.8;
    text-align: center;
}
.active_0{
    position:absolute;
    width:200px;
    height:200px;
    background:rgba(20,20,20,1);
    opacity: 1;
    box-shadow:-8px -13px 20px 12px rgb(255,25,60);
    color:rgb(255,25,60);
}
.active_1{
    position:absolute;
    width:200px;
    height:200px;
    background:rgba(20,20,20,1);
    opacity: 1;
    box-shadow:-8px -13px 20px 12px rgb(25,255,29);
    color:rgb(25,255,29);
}
 .active_2{
    position:absolute;
    width:200px;
    height:200px;
    background:rgba(20,20,20,1);
    opacity: 1;
    box-shadow:-8px -13px 20px 12px rgb(224, 255, 25);
    color:rgb(224, 255, 25) ;
}
  

.active_3{
    position:absolute;
    width:200px;
    height:200px;
    background:rgba(20,20,20,1);
    opacity: 1;
    box-shadow:-8px -13px 20px 12px rgb(75, 25, 255);
    color:rgb(75, 25, 255);
}

#l{
    margin: 3px;
}

#next{
    height:25px;
    width:100%;
    font-size: xx-large;
    margin-left: 9%;
    color: white;

   
}
h3{
    padding: 42px;
    font-size:x-large;
}