
body{
    background-color: grey;
}
#img{
    width: 50%;
    height: 90vh;
    position: fixed;
    z-index: 99;
    margin: 0;
}
#i{
    text-align: center;
    display: flex;
    justify-content: center;
}
#name{
    font-size: 40px;
    margin-top:120px;
    margin-left:2px;
    z-index: 100;
}
#point{
    
    position: fixed;
    margin-top:160px;
    z-index:200;
    font-size: 40px;
    margin-left:-20px;
}
#myDate{
    z-index: 100;
    margin-top: 210px;
    font-size: 30px;
    position: fixed;
}